.loader {
    width: 100px;
    height: 100px;
    animation: loadingSpin 7s linear infinite;

}

@keyframes loadingSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
          }
}
